/cmake-build-debug/
# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
/.idea/CLionProjects.iml
/.idea/SerialCommunication.iml